--extra-index-url https://download.pytorch.org/whl/cpu
flask
numpy
pandas
librosa
scipy
soundfile
praat-parselmouth
mediapipe
opencv-python-headless
scikit-learn
scikit-image
torch==2.2.2+cpu
torchvision==0.17.2+cpu
xgboost
joblib
tqdm
gunicorn
