flask
numpy
pandas
librosa
scipy
soundfile
praat-parselmouth
mediapipe
opencv-python-headless
scikit-learn
scikit-image
torch==2.2.2+cpu --find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.17.2+cpu --find-links https://download.pytorch.org/whl/torch_stable.html
xgboost
joblib
tqdm
gunicorn
